@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --white: #ffffff;
  --gray1: #505646;
  --gray2: #797979;
  --gray3: #D9D9D9;
  --primary: #8DBE3D;
  --secondary: #DEEBC8;
  --tertiary: #EDFBD5;
  --red: red;
}

body {
  color: var(--black);
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
}

@layer utilities {
  .no-calt {
    font-feature-settings: 'calt' off;
  }
}
